.topicsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    background-color: #fff;
    color: #333;

    input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 0.9rem;
        color: #000;
    }
}

.topicList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.topicItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 0.85rem 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    transition: background 0.2s;

    &:hover {
        background-color: #f5f5f5;
    }
}
