.app_dark_theme {
    --bg-color: #ffffff;
    --inverted-bg-color: #ffffff;
    --primary-color: #000000;
    --secondary-color: #000000;
    --inverted-primary-color: #000000;
    --inverted-secondary-color: #000000;
}