.auth-container {
    max-width: 600px;
    margin: auto;
    text-align: center;

    .tabs {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        button {
            padding: 10px 30px;
            border: 1px solid black;
            background: white;
            font-weight: bold;
            cursor: pointer;

            &.active {
                background: #444;
                color: white;
            }

            &:first-child {
                border-right: none;
            }
        }
    }

    .form-area {
        text-align: left;
        margin-top: 1rem;
    }
}
